@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #111319;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  font-weight: 700 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 40% !important;
  bottom: 10% !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 12px !important;
}

.movie-slider {
  position: static !important;
}

.movie-slider .swiper-button-next {
  top: 40px;
  right: 5%;
}

.movie-slider .swiper-button-prev {
  top: 40px;
  left: 91%;
}

.movie-slider .swiper-button-next:after,
.movie-slider .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 700 !important;
}
